$hover-border-width: 1px;

.contacts {
    background: url(../assets/images/shared/background_noise_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.contacts-content {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    //column-gap: 158px;
    flex-wrap: nowrap;
}

.digital-address {
    max-width: 280px;
    &__title {
        color: $color-light-xl;
        margin: 16px 0 38px 0;
    }
    &__email-row {
        display: flex;
        align-items: center;
        border: solid $hover-border-width transparent;
        border-radius: 3px;
        cursor:pointer;
        @extend %transition;
        &__icon {
            display: inline-block;
            width: 40px;
            height: 32px;
            background-image: url("../assets/images/contacts/icon-email.svg");
            margin: 0 20px 0 0;
        }
    
        &__email {
            color: $color-primary;
        }

        &:hover {
            border: solid $hover-border-width $color-primary-light-transparent;
        }
    }

    &__phone-row {
        margin: 38px 0 0 0;
        display: flex;
        align-items: center;
        border: solid $hover-border-width transparent;
        border-radius: 3px;
        cursor:pointer;
        @extend %transition;

        &__icon {
            display: inline-block;
            width: 40px;
            height: 32px;
            background-image: url("../assets/images/contacts/icon-phone.svg");
            margin: 0 20px 0 0; 
        }

        &__phone {
            color: $color-primary;
        }

        &:hover {
            border: solid $hover-border-width $color-primary-light-transparent;
        }
    }
}

.physical-address {
    max-width: 304px;
    &__title {
        color: $color-light-xl;
        margin: 16px 31px 32px 0;
    }
    &__address-1-row {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: solid $hover-border-width transparent;
        border-radius: 3px;
        @extend %transition;
        &__icon {
            display: inline-block;
            min-width: 22px;
            width: 22px;
            height: 32px;
            background-image: url("../assets/images/contacts/icon-marker.svg");
            margin: 0 20px 0 0;
        }
    
        &__address {
            color: $color-primary;
        }

        &:hover {
            border: solid $hover-border-width $color-primary-light-transparent;
        }
    }

    &__address-2-row {
        @extend %transition;
        margin: 31px 0 0 0;
        display: flex;
        align-items: center;
        cursor:pointer;
        border: solid $hover-border-width transparent;
        border-radius: 3px;

        &__icon {
            display: inline-block;
            width: 22px;
            height: 32px;
            background-image: url("../assets/images/contacts/icon-marker.svg");
            margin: 0 20px 0 0; 
        }

        &__address {
            color: $color-primary;
        }

        &:hover {
            border: solid $hover-border-width $color-primary-light-transparent;
            &> * {
                //transform: scale(1.025, 1.025);
            }
        }

        

    }
}
