.donations {
    background-color: $color-light-l;
}

.donations-content {
    margin: 0px 182px 0px 183px;
    padding: 80px 0 100px 0px;
    display: flex;
    flex-wrap: nowrap;
}

.donations-content__pet-image {
    object-fit: scale-down;
    width: 100%; 
}

.donations-content__text-area {
    margin: 0 0 0 30px;
}

.donations-content__title {
    margin: 0 80px 20px 0;
    color: $color-dark-l;
}

.donations-content__subtitle {
    margin: 0 0 42px 0;
    @extend %paragraph-1;
    color: $color-dark-s;
}

.donations-content__card-promt {
    color: $color-dark-l;
}

.donations-content__description {
    margin: 0;
    @extend %font-secondary;
    @include font(1.2rem, italic, 400, 1.8rem);
    color: $color-dark-m;
}

.credit-card-line {
    margin: 20px 31px 20px 0;
    display: flex;
    border-radius: 9px;
    background-color: $color-primary;
    align-items: center;
    border: 1px solid transparent;
    @extend %transition;
    cursor:pointer;
    &:hover {
        //border-color: blue;
        box-shadow: 2px 2px 5px lightgray;
        //border-color: $color-primary-light-transparent;
    }

}

.credit-card-line__icon {
    margin:10px 15px;
    display: block;
    width: 30px;
    height: 23px;
    background: url("../assets/images/donations/credit-card.svg");
}

.credit-card-line__number {
    color: $color-dark-l;
}