.help {
    background-color: $color-light-xl;
}
.help-content {
    padding: 79px 40px 100px 40px;
    @include media-tablet-and-down {
        padding: 79px 69px 100px 69px;
    }
    @include media-mobile-only {
        padding: 42px 15px;
    }
    // background-color: yellowgreen;

    &__title {
        margin: 0;
        text-align: center;
        //@extend %h3;
        color: $color-dark-l;
    }
    &__help-list {
        padding: 60px 87px 0px 87px;
        @include media-tablet-and-down {
            padding: 60px 0 0 0;
        }
        @include media-mobile-only {
            padding: 42px 0 0 0;
        }
    }
}

.help-list {
    //background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    column-gap: 119px;
    row-gap: 55px;
    justify-content: center;
    @include media-tablet-and-down {
        column-gap: normal;
        justify-content: space-between;
        >* {
            flex-basis: 28%;
        }
    }
    @include media-mobile-only {
        row-gap: 30px;
        >* {
            flex-basis: 45%;
        }
    }
}

.help-list__item {
    display: flex;
    flex-direction: column;
    //background-color: greenyellow;
}

.help-list__item__title {
    text-align: center;
    margin: 30px 0 0 0;
    @include media-mobile-only {
        margin: 20px 0 0 0;
    }
    color: $color-dark-l;
}

.help-icon {
    display: inline-block;
    margin: auto;
    cursor: pointer;
    width: 60px ;
    height: 60px;
    @include media-mobile-only {
        width: 50px ;
        height: 50px;
        background-size: cover;
        //object-fit: contain;
    }
    // width: 100%;
    // object-fit: contain;
    // height: auto;

    &_pet-food {
        background-image: url("../assets/images/icons/help/icon-pet-food.svg");
    }
    &_transportation {
        background-image: url("../assets/images/icons/help/icon-transportation.svg");
    }
    &_toys {
        background-image: url("../assets/images/icons/help/icon-toys.svg");
    }
    &_bowls {
        background-image: url("../assets/images/icons/help/icon-bowls-and-cups.svg");
    }
    &_shampoos {
        background-image: url("../assets/images/icons/help/icon-shampoos.svg");
    }
    &_vitamins{
        background-image: url("../assets/images/icons/help/icon-vitamins.svg");
    }
    &_medicines {
        background-image: url("../assets/images/icons/help/icon-medicines.svg");
    }
    &_collars {
        background-image: url("../assets/images/icons/help/icon-collars-leashes.svg");
    }
    &_sleeping {
        background-image: url("../assets/images/icons/help/icon-sleeping-area.svg");
    }
}