.pets {
    background-color: $color-light-l;
}

.pets-content {

    margin: 0 40px;
    padding: 80px 0px 100px 0px;
    // overflow: hidden;

    &__title {
        margin: 0 400px 58px 400px;
        text-align: center;
        color: $color-dark-l;
    }

    &__to-pets-button {
        margin: 58px 0 0 0;
        text-align: center;
    }
}

.pets-gallery-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left-nav-item {
        margin: 0 53px 0 0;
    }
    &__right-nav-item {
        margin: 0 0 0 53px;
    }
}


.pets-gallery {
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //column-gap: 90px;
    // position: relative;
    // left: -24px;

    
}



.pet-card {
    cursor:pointer;
    @extend %transition;
    background-color: $color-light-s;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 9px;
    overflow: hidden;

    &:hover {
        border-color: $color-primary-light;
        .button {
            background: $color-primary-light;
        }
    }
    &__title {
        margin: 26px 0 30px 0;
        text-align: center;
        @extend %font-primary;
        @include font(2.0rem, normal, 400, 2.3rem);
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    &__photo {
        max-width: 270px;
        object-fit: cover;
        height: 100%;
        width: 270px;
        height: 270px;
    }

    &__more-button {
        text-align: center;
        margin: 0 0 30px 0;
    }
}
