$gallery-block-breakpoint-mobile-width: 750px;

.pets {
    background-color: $color-light-l;
}

.pets-content {

    margin: 0 40px;
    @include media-tablet-and-down {
        margin: 0 30px;
    }
    padding: 80px 0px 100px 0px;
    // overflow: hidden;
    @include media-mobile-only {
        margin: 0 10px;
        padding: 42px 0px 42px 0px;
    }
    &__title {
        max-width: 400px;
        margin: 0 auto 58px auto;
        @include media-mobile-only {
            margin: 0 auto 40px auto;
        }
        text-align: center;
        color: $color-dark-l;
    }

    &__to-pets-button {
        margin: 60px 0 0 0;
        @media (max-width: $gallery-block-breakpoint-mobile-width) {
            margin: 42px 0 0 0;
        }
        text-align: center;
    }
}



.pets-gallery-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $gallery-block-breakpoint-mobile-width) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 20px;
    }

    &__left-nav-item {
        margin: 0 53px 0 0;
        @include media-tablet-and-down {
            margin: 0 12px 0 0;
        }
        @media (max-width: $gallery-block-breakpoint-mobile-width) {
            order: 1;
            margin: 0;
            transform: translateX(9px);

            //margin: 0 0px 0 50px;
        }
        @include media-mobile-only {
        //     display: inline;
        }
    }
    &__right-nav-item {
        margin: 0 0 0 53px;
        @include media-tablet-and-down {
            margin: 0 0 0 12px;
        }
        @media (max-width: $gallery-block-breakpoint-mobile-width) {
            order: 2;
            margin: 0;
            transform: translateX(-9px);
            //margin: 0 50px 0 0;
        }
    }
}


.pets-gallery {
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    @include media-tablet-and-down {
        justify-content: space-evenly;
    }
    // Just for 768 design, 
    @media (max-width:769px) {
        justify-content: space-between;;
    }
    @media (max-width:$gallery-block-breakpoint-mobile-width) {
        justify-content: space-around;
    }
    //column-gap: 90px;
    // position: relative;
    // left: -24px;

    
}

.pet-card-2 {
    @media (max-width:$gallery-block-breakpoint-mobile-width) {
        display: none;
    }
    // @include media-mobile-only {
    //     display: none;
    // }
}

.pet-card-3 {
    @include media-tablet-and-down {
        display: none;
    }
}

.pet-card {
    cursor:pointer;
    @extend %transition;
    background-color: $color-light-s;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 9px;
    overflow: hidden;
    min-width: 272px;
    @media (max-width:$gallery-block-breakpoint-mobile-width) {
        margin: 0 200px;
    }

    &:hover {
        border-color: $color-primary-light;
        .button {
            background: $color-primary-light;
        }
    }
    &__title {
        margin: 26px 0 30px 0;
        text-align: center;
        @extend %font-primary;
        @include font(2.0rem, normal, 400, 2.3rem);
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    &__photo {
        max-width: 270px;
        object-fit: cover;
        height: 100%;
        width: 270px;
        height: 270px;
    }

    &__more-button {
        text-align: center;
        margin: 0 0 28px 0;
    }
}
